*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Header */
.header {
    width: 100%;
    height: 60px;
    background-color: #454a58;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.header__inner {
    padding-top: 17px;
    align-items: center;
}

.header__left {
    display: flex;
    list-style: none;
    margin-left: 80px;
    width: 600px;
}

.header__nav li {
    display: inline;
    margin-left: 20px;
    border-right: 1px solid #fff;
    padding-right: 20px;

}

.header__right {
    margin-top: 17px;
}

.header__user {
    display: inline-flex;
    margin-right: 80px;
}

.header__search {
    font-size: 15px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 2px 120px 2px 15px;
}



.header__signin {
    margin-left: 40px;
    color: #fff;
}

/* Section Main Game */

.sec__newGame {
    background: url(../img/header/bg.jpg) no-repeat;
    height: 94vh;
}

.contantGame {
    text-align: center;
}

.contantGamePhoto {
    margin-top: 3%;
}